/*Code by Dennis Kim and Sophia Kim*/
body {
  font-family: Helvetica, sans-serif;
  background-color: floralwhite;
  text-align: center;
}

.ui.teal.basic.button {
  margin-top: 10px;
}

.ui.input {
  margin-top: 10px;
}

.top-label {
  margin-top: 40px;
}