/*Code by Dennis Kim and Sophia Kim*/
body {
  font-family: Helvetica, sans-serif;
  background-color: floralwhite;
  text-align: center;
}

button {
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
  background-color: whitesmoke;
  margin-top: 10px;
}

.labels {
  margin: auto;
  width: 40%;
  border: 3px;
}

input {
  text-align: center;
  width: 10%;
  margin-top: 10px;
}


